[submodule "emacs/.emacs.d/sensible-defaults.el"]
	path = emacs/.emacs.d/sensible-defaults.el
	url = https://github.com/hrs/sensible-defaults.el
	branch = master
[submodule "emacs/.emacs.d/awesome-tray"]
	path = emacs/.emacs.d/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray
[submodule "emacs/.emacs.d/awesome-tab"]
	path = emacs/.emacs.d/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab
