Xcursor.theme: Adwaita

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Emacs.font: IBM Plex Mono:size=12
XTerm*font: xft:IBM Plex Mono:size=9

XTerm*foreground:   #373b41
XTerm*background:   #ffffff
XTerm*cursorColor:  #373b41
XTerm*color0:       #1d1f21
XTerm*color8:       #969896
XTerm*color1:       #cc342b
XTerm*color9:       #cc342b
XTerm*color2:       #198844
XTerm*color10:      #198844
XTerm*color3:       #fba922
XTerm*color11:      #fba922
XTerm*color4:       #3971ed
XTerm*color12:      #3971ed
XTerm*color5:       #a36ac7
XTerm*color13:      #a36ac7
XTerm*color6:       #3971ed
XTerm*color14:      #3971ed
XTerm*color7:       #c5c8c6
XTerm*color15:      #fff7e9

XTerm*borderWidth: 0
XTerm*internalBorder: 2
XTerm*termName: xterm-256color
XTerm*v100.saveLines: 10240
XTerm*vt100.scrollBar: false
XTerm*vt100.bellIsUrgent: true
XTerm*allowBoldFonts: false
XTerm*scrollKey: true
XTerm*fullscreen: never
XTerm*cutToBeginningOfLine: false
XTerm*cutNewLine: false
XTerm*charClass: 3:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on2Clicks: word
XTerm*on3Clicks: line
XTerm*eightBitInput: false
XTerm*eightBitOutput: true

xterm*VT100.Translations: #override \
                          Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                          Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
