Xcursor.theme: Adwaita

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Emacs.font: IBM Plex Mono:size=12
XTerm*font: xft:IBM Plex Mono:size=10

XTerm*background:  #2e3436
XTerm*foreground:  #eeeeec
XTerm*cursorColor: #8ae234
XTerm*color0:      #2e3436
XTerm*color1:      #cc0000
XTerm*color2:      #4e9a06
XTerm*color3:      #edd400
XTerm*color4:      #3465a4
XTerm*color5:      #92659a
XTerm*color6:      #07c7ca
XTerm*color7:      #d3d7cf
XTerm*color8:      #6e706b
XTerm*color9:      #ef2929
XTerm*color10:     #8ae234
XTerm*color11:     #fce94f
XTerm*color12:     #729fcf
XTerm*color13:     #c19fbe
XTerm*color14:     #63e9e9
XTerm*color15:     #eeeeec

XTerm*borderWidth: 4
XTerm*internalBorder: 2
XTerm*termName: xterm-256color
XTerm*v100.saveLines: 10240
XTerm*vt100.scrollBar: false
XTerm*vt100.bellIsUrgent: true
XTerm*allowBoldFonts: false
XTerm*scrollKey: true
XTerm*fullscreen: never
XTerm*cutToBeginningOfLine: false
XTerm*cutNewLine: false
XTerm*charClass: 3:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on2Clicks: word
XTerm*on3Clicks: line
XTerm*eightBitInput: false
XTerm*eightBitOutput: true

xterm*VT100.Translations: #override \
                          Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                          Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
