Xcursor.theme: Paper

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Emacs.font: Go Mono:size=12
XTerm*font: xft:Go Mono:size=9

*.foreground: #5f5f5f
*.background: #fdfde7
*.color0:     #3a3a3a
*.color8:     #8a8a8a
*.color1:     #cc0000
*.color9:     #ef2929
*.color2:     #5fd700
*.color10:    #d7ff87
*.color3:     #ffaf5f
*.color11:    #ff8700
*.color4:     #b218b2
*.color12:    #d18aff
*.color5:     #ff7bbb
*.color13:    #ff3ea3
*.color6:     #00d7af
*.color14:    #87ffff
*.color7:     #dadada
*.color15:    #eeeeee

XTerm*borderWidth: 0
XTerm*internalBorder: 2
XTerm*termName: xterm-256color
XTerm*v100.saveLines: 10240
XTerm*vt100.scrollBar: false
XTerm*vt100.bellIsUrgent: true
XTerm*allowBoldFonts: false
XTerm*scrollKey: true
XTerm*fullscreen: never
XTerm*cutToBeginningOfLine: false
XTerm*cutNewLine: false
XTerm*charClass: 3:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on2Clicks: word
XTerm*on3Clicks: line
XTerm*eightBitInput: false
XTerm*eightBitOutput: true

rofi.theme: yuki
rofi.font: Noto 12
